<!DOCTYPE html>
<html>
<head>
  <title>NetWorth</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/nw.css">
</head>

<body>
<div id="header">
  <h1 id="title">NetWorth</h1>
  <ul id="topmenu">
    <li>Account</li>
    <li>Payees</li>
    <li>Securities</li>
  </ul>
</div>

{% macro form_select_type(types, name, default_id=nil) -%}
<select name="{{name}}">
{% for t in types -%}
{% if t.ID == default_id -%}
<option selected="selected" value="{{t.ID}}">{{t.Name}}</option>
{% else -%}
<option value="{{t.ID}}">{{t.Name}}</option>
{% endif -%}
{% endfor -%}
</select>
{% endmacro -%}

<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
