{% extends "base.html" %}
{% block content -%}

<div class="listing">
<h2>Payees</h2>

<table>
{% for p in payees -%}
<tr>
{% if account -%}
<td><a href=/accounts/{{ account.ID }}/payees/{{ p.Name }}>{{ p.Name }}</a></td>
{% else -%}
<td><a href=/payees/{{ p.ID }}>{{ p.Name }}</a></td>
{% endif -%}
<td>{{ p.CategoryName() }}</td>
{% if show_use_count -%}
<td>{{ p.UseCount() }}</td>
{% if p.UseCount() == 0 -%}
<td><a href=/payees/{{ p.ID }} data-payee-id="{{ p.ID }}" data-action="payee#actionDelete">Delete</a></td>
{% else -%}
<td></td>
{% endif -%}
{% else -%}
<td></td>
<td></td>
{% endif -%}
</tr>
{% endfor -%}
</table>

<h3>Add New Payee</h3>
<form method="POST" action="/payees">
<fieldset>
<label>Payee Name</label>
<input type="text" name="payee.Name"/>
</fieldset>
<fieldset>
<label>Payee Address</label>
<input type="text" name="payee.Address"/>
</fieldset>
<fieldset class="last">
<label>Default Category</label>
{{ form_select_type(categories, "payee.category_id") }}
</fieldset>
<fieldset class="submit">
<input type="submit" value="Add Payee"/>
</fieldset>
</form>
</div>

{% if account -%}
<ul id="footmenu">
<li><a href=/accounts/{{ account.ID }}>Back to Account</a></li>
</ul>
{% endif -%}

{% endblock -%}
