{% extends "base.html" %}
{% block content -%}

{% if payee -%}
<div class="show">
<h2>Payee: {{ payee.Name }}</h2>

{% if (cash_flows|length > 0) -%}
{% if account && account.ID > 0 -%}
<h3>Payee Transactions (Account: {{ account.Name }})</h3>
{% else -%}
<h3>Payee Transactions</h3>
{% endif -%}
<div id="cash_flows">
{% include "cash_flows/list_cash_flows.html" -%}
</div>
{% endif -%}

<h3>Update Payee Category</h3>
{% if account && account.ID > 0 -%}
<form method="POST" action="/accounts/{{ account.ID }}/payees/{{ payee.ID }}">
{% else -%}
<form method="POST" action="/payees/{{ payee.ID }}">
{% endif -%}
<fieldset class="last">
<label>Default Category</label>
{{ form_select_type(categories, "payee.category_id", payee.CategoryID) }}
</fieldset>
<fieldset class="submit">
<table>
<td>
<input type="submit" name="submit" value="Apply to All"/>
</td>
<td>
<input type="submit" name="submit" value="Apply to Unset Only"/>
</td>
</table>
</fieldset>
</form>

{% if (duplicate_payees|length > 0) -%}
<h3>Merge Payee Duplicates</h3>
{% if account && account.ID > 0 -%}
<form method="POST" action="/accounts/{{ account.ID }}/payees/{{ payee.ID }}/merge">
{% else -%}
<form method="POST" action="/payees/{{ payee.ID }}/merge">
{% endif -%}
<fieldset class="last">
<label>Possible Payee Duplicates</label>
{{ form_select_type(duplicate_payees, "payee.merge_id", 0) }}
</fieldset>
<fieldset class="submit">
<table>
<td>
<input type="submit" name="submit" value="Merge All"/>
</td>
<td>
<input type="submit" name="submit" value="Merge Selected"/>
</td>
</table>
</fieldset>
</form>
{% endif -%}

</div>
{% endif -%}

<ul id="footmenu" data-controller="payee">
{% if account && account.ID > 0 -%}
<li><a href=/accounts/{{ account.ID }}/payees>Back to Payees</a></li>
{% else -%}
<li><a href=/payees>Back to Payees</a></li>
{% endif -%}
<li><a href=/payees/{{ payee.ID }}/edit>Edit Payee</a></li>
{% if !payee.InUse() -%}
<li><a href=/payees/{{ payee.ID }} data-payee-id="{{ payee.ID }}" data-action="payee#actionDelete">Delete Payee</a></li>
{% endif -%}
</ul>

{% endblock -%}
