<!DOCTYPE html>
<html>
<head>
  <title>Go Bookkeeper</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/nw.css">
  <script src="/javascript/client.bundle.js" async></script>
  <script src="/javascript/charts.bundle.js" async></script>
</head>

<body>
<div id="header">
  <h1 id="title">NetWorth</h1>
  <ul id="topmenu">
    <li><a href=/accounts>Accounts</a></li>
    <li><a href=/payees>Payees</a></li>
    <li><a href=/securities>Securities</a></li>
  </ul>
</div>

{% macro form_select_type(types, name, default_id=nil) -%}
<select name="{{name}}">
{% for t in types -%}
{% if t.ID == default_id -%}
<option selected="selected" value="{{t.ID}}">{{t.Name}}</option>
{% else -%}
<option value="{{t.ID}}">{{t.Name}}</option>
{% endif -%}
{% endfor -%}
</select>
{% endmacro -%}

{% macro form_checkbox(name, checked) -%}
{% if checked -%}
<input type="checkbox" name="{{name}}" value="true" checked="checked"/>
{% else -%}
<input type="checkbox" name="{{name}}" value="true"/>
{% endif -%}
{% endmacro -%}

{% macro form_checkbox_readonly(name, checked) -%}
{% if checked -%}
<input type="checkbox" name="{{name}}" value="true" checked="checked" disabled/>
{% else -%}
<input type="checkbox" name="{{name}}" value="true" disabled/>
{% endif -%}
{% endmacro -%}

{% macro form_date_select(helper) %}
<select name="date_year">
{% for y in helper.Years -%}
{% if forloop.Counter == helper.YearIndex -%}
<option value="{{y}}" selected="selected">{{y}}</option>
{% else -%}
<option value="{{y}}">{{y}}</option>
{% endif -%}
{% endfor -%}
</select>
<select name="date_month">
{% for m in helper.Months -%}
{% if forloop.Counter == helper.MonthIndex -%}
<option value="{{forloop.Counter}}" selected="selected">{{m}}</option>
{% else -%}
<option value="{{forloop.Counter}}">{{m}}</option>
{% endif -%}
{% endfor -%}
</select>
<select name="date_day">
{% for d in helper.Days -%}
{% if forloop.Counter == helper.DayIndex -%}
<option value="{{d}}" selected="selected">{{d}}</option>
{% else -%}
<option value="{{d}}">{{d}}</option>
{% endif -%}
{% endfor -%}
</select>
{% endmacro -%}

{% macro form_year_select(helper) %}
<select name="year">
{% for y in helper.Years -%}
{% if forloop.Counter == helper.YearIndex -%}
<option value="{{y}}" selected="selected">{{y}}</option>
{% else -%}
<option value="{{y}}">{{y}}</option>
{% endif -%}
{% endfor -%}
</select>
{% endmacro -%}

<div id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>
