{% extends "base.html" %}
{% block content -%}

<div class="edit">
<h2>Edit Security</h2>

{% if security -%}
<form method="POST" action="/securities/{{security.ID}}">
{% include "securities/security_form.html" -%}
<fieldset class="submit">
<p>
<input type="submit" value="Update Security"/>
</p>
</fieldset>
</form>
{% endif -%}
</div>

<ul id="footmenu">
<li><a href=/accounts/{{security.AccountID}}/securities/{{security.ID}}>Back To Security</a></li>
<li><a href=/accounts/{{security.AccountID}}>Back To Account</a></li>
</ul>

{% endblock -%}
