<table class="standard">
<th>Company Name</th>
<th>Symbol</th>
<th>Shares</th>
<th>Price</th>
<th>Avg. Price</th>
<th>Value</th>
<th>Basis</th>
<th>Unrealized Return</th>
<th>Total Return</th>
<th></th>
{% for s in securities -%}
{% if allSecurities || s.Shares.IsPositive() -%}
<tr>
<td>{{ s.Company.Name }}</td>
<td>{{ s.Company.Symbol }}</td>
<td>{{ s.Shares }}</td>
<td class="currency">{{ s.Currency(s.Price()) }}</td>
<td class="currency">{{ s.Currency(s.BasisPrice()) }}</td>
<td class="currency">{{ s.Currency(s.Value) }}</td>
<td class="currency">{{ s.Currency(s.Basis) }}</td>
<td class="percentage">{{ s.UnrealizedReturn() }}%</td>
<td class="percentage">{{ s.TotalReturn() }}%</td>
<td><a href=/accounts/{{account.ID}}/securities/{{s.ID}}>Info</a></td>
</tr>
{% endif -%}
{% endfor -%}
<tr>
<td><b>Total:</b></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td class="currency">{{ account.Currency(account.Portfolio.Value) }}</td>
<td class="currency">{{ account.Currency(account.Portfolio.Basis) }}</td>
<td class="percentage">{{ account.PortfolioTotalReturn() }}%</td>
<td></td>
<td></td>
</tr>
</table>
