<table class="ledger">
{% if !security -%}
{% if !account -%}
<th>Account</th>
{% endif -%}
<th>Security</th>
{% endif -%}
<th>Type</th>
<th>Date</th>
<th>Shares</th>
<th>Price</th>
<th>Basis</th>
<th>Amount</th>
<th></th>
{% for t in trades -%}
<tr>
{% if !security -%}
{% if !account -%}
<td>{{ t.Account.Name }}</td>
{% endif -%}
<td>{{ t.Security.Company.Name }}</td>
{% endif -%}
{% if t.ViewIsSell() -%}
<td><a href=/gains/{{t.ID}}>{{ t.TradeType.Name }}</a></td>
{% else -%}
<td>{{ t.TradeType.Name }}</td>
{% endif -%}
<td>{{ t.Date.Format("2006-01-02") }}</td>
<td>{{ t.Shares }}</td>
<td class="currency">{{ t.Currency(t.Price) }}</td>
<td class="currency">{{ t.GetBasis() }}</td>
<td class="currency">{{ t.Currency(t.Amount) }}</td>
<td><a href=/trades/{{t.ID}}/edit>Edit</a></td>
</tr>
{% endfor -%}
{% if security -%}
<tr>
<td align ="left">
<strong>Totals:</strong>
</td>
<td>
</td>
<td>
{{ security.Shares }}
</td>
<td class="currency">
{{ security.Currency(security.BasisPrice()) }}
</td>
<td class="currency">
{{ security.Currency(security.Basis) }}
</td>
<td>
</td>
<td colspan="1">
</td>
</tr>
{% endif -%}
</table>
