{% extends "base.html" %}
{% block content -%}

<div class="new">
{% if security.Account.Name != "" -%}
<h2>{{security.Account.Name}} - New Security</h2>
{% else -%}
<h2>New Security</h2>
{% endif -%}

<form method="POST" action="/accounts/{{security.AccountID}}/securities">
{% include "securities/security_form.html" -%}
<fieldset class="submit">
<input type="submit" value="Add Security"/>
</fieldset>
</form>
</div>

<ul id="footmenu">
<li><a href=/accounts/{{security.AccountID}}>Back To Account</a></li>
</ul>

{% endblock -%}
