{% extends "base.html" %}
{% block content -%}

{% if security -%}
<div class="show">
<h2>{{ security.Company.GetName() }}</h2>

{% if security.ChartsEnabled() -%}
<div class="chart">
<table class="left">
{% else -%}
<table>
{% endif -%}
<tr/>
<td>Type:</td>
<td><strong>{{ security.SecurityType.Name }}</strong></td>
<tr/>
<td>Basis:</td>
<td><b>{{ security.Currency(security.Basis) }}</b></td>
<tr/>
<td>Value:</td>
<td><b>{{ security.Currency(security.Value) }}</b></td>
<tr/>
<td>Return:</td>
<td><b>{{ security.TotalReturn() }}%</b></td>
<tr/>
{% if security.HasFilings() -%}
<td>Financials:</td>
<td><b>{{ security.Company.NumFilings("") }}</b></td>
{% endif -%}
</table>

{% if security.ChartsEnabled() -%}
<canvas class="right"
  data-controller="chart"
  data-chart-type-value="line"
  data-chart-data-value="{{ security.GetChartData(180) }}"
  data-chart-options-value="{{ security.GetChartOptions() }}"
></canvas>
</div>
{% endif -%}

{% if (trades|length > 0) -%}
<h3>Transaction Ledger</h3>
<p>
<div id="trades">
{% include "securities/list_security_trades.html" -%}
</div>
{% endif -%}

<h3>New Transaction</h3>
<form method="POST" action="/securities/{{security.ID}}/trades">
{% include "securities/security_trade_form.html" -%}
</form>
</div>
{% endif -%}

<ul id="footmenu">
{% if security.AccountID > 0 -%}
<li><a href=/accounts/{{security.AccountID}}>Back To Account</a></li>
{% endif -%}
{% if security.ID > 0 -%}
<li><a href=/securities/{{security.ID}}/edit>Edit Security</a></li>
{% endif -%}
</ul>

{% endblock -%}
