{% extends "base.html" %}
{% block content -%}

{% if security -%}
<div class="show">
<h2>{{ security.Company.GetName() }}</h2>
<table>
<tr/>
<td>Type:</td>
<td><strong>{{ security.SecurityType.Name }}</strong></td>
<tr/>
<td>Basis:</td>
<td><b>{{ security.Currency(security.Basis) }}</b></td>
<tr/>
<td>Value:</td>
<td><b>{{ security.Currency(security.Value) }}</b></td>
<tr/>
<td>Return:</td>
<td><b>{{ security.TotalReturn() }}%</b></td>
</table>

{% if (trades|length > 0) -%}
<p>
<div id="trades">
{% include "securities/list_security_trades.html" -%}
</div>
{% endif -%}

<form method="POST" action="/securities/{{security.ID}}/trades">
{% include "securities/security_trade_form.html" -%}
</form>
</div>
{% endif -%}

<ul id="footmenu">
{% if security.AccountID > 0 -%}
<li><a href=/accounts/{{security.AccountID}}>Back To Account</a></li>
{% endif -%}
{% if security.ID > 0 -%}
<li><a href=/securities/{{security.ID}}/edit>Edit Security</a></li>
{% endif -%}
</ul>

{% endblock -%}
