<fieldset>
<table>
<td>
<label>Account Type</label>
{{ form_select_type(account_types, "account.account_type_id", account.AccountTypeID) }}
</td>
<td>
<label>Currency</label>
{{ form_select_type(currency_types, "account.currency_type_id", account.CurrencyTypeID) }}
</td>
<td>
<label>Taxable</label>
{{ form_checkbox("account.Taxable", account.Taxable) }}
</td>
{% if is_edit -%}
<td>
<label>Hidden</label>
{{ form_checkbox("account.Hidden", account.Hidden) }}
</td>
{% endif -%}
</table>
</fieldset>
<fieldset>
<label>Account Name</label>
<input type="text" name="account.Name" value="{{account.Name}}"/>
</fieldset>
<fieldset>
<label>Account Number</label>
<input type="text" name="account.Number" value="{{account.Number}}"/>
</fieldset>
{% if is_edit && account.SupportsDownload(false) -%}
<fieldset>
<label>Routing Number</label>
<input type="text" name="account.Routing" value="{{account.GetRouting()}}"/>
</fieldset>
{% if account.InstitutionID == 0 -%}
<fieldset class="last">
<label>OFX: Institution</label>
{{ form_select_type(ofx_institutions, "account.institution_id", account.InstitutionID) }}
</fieldset>
{% else -%}
<fieldset>
<label>OFX: Institution</label>
{{ form_select_type(ofx_institutions, "account.institution_id", account.InstitutionID) }}
</fieldset>
<fieldset>
<label>OFX: Account Index (if Multiple Accounts)</label>
<input type="text" name="account.OfxIndex" value="{{account.OfxIndex}}"/>
</fieldset>
<fieldset class="last">
<label>OFX: Client UID</label>
<input type="text" name="account.ClientUID" value="{{account.ClientUID}}"/>
</fieldset>
{% endif -%}
{% else -%}
<fieldset class="last">
<label>Routing Number</label>
<input type="text" name="account.Routing" value="{{account.GetRouting()}}"/>
</fieldset>
{% endif -%}
<fieldset class="submit">
<input type="submit" value="{{ button_text }}"/>
</fieldset>
