<fieldset>
<table>
<td>
<label>Account Type</label>
{{ form_select_type(account_types, "account.account_type_id", account.AccountTypeID) }}
</td>
<td>
<label>Currency</label>
{{ form_select_type(currency_types, "account.currency_type_id", account.CurrencyTypeID) }}
</td>
<td>
<label>Taxable</label>
{{ form_checkbox("account.Taxable", account.Taxable) }}
</td>
{% if is_edit -%}
<td>
<label>Hidden</label>
{{ form_checkbox("account.Hidden", account.Hidden) }}
</td>
{% endif -%}
</table>
</fieldset>
<fieldset>
<label>Account Name</label>
<input type="text" name="account.Name" value="{{account.Name}}"/>
</fieldset>
<fieldset>
<label>Account Number</label>
<input type="text" name="account.Number" value="{{account.Number}}"/>
</fieldset>
<fieldset class="last">
<label>Routing Number</label>
{% if is_edit -%}
<input type="text" name="account.Routing" value="{{account.Routing}}"/>
{% else -%}
<input type="text" name="account.Routing"/>
{% endif -%}
</fieldset>
<fieldset class="submit">
<input type="submit" value="{{ button_text }}"/>
</fieldset>
