{% extends "base.html" %}

{% block content -%}

<div class="listing">
<h2>{{ account.Name }} - Imported Transactions</h2>

<table>
<form method="POST" action="/accounts/{{account.ID}}/imported" enctype="multipart/form-data" accept-charset="UTF-8">
<tr>
<td colspan=2><label for="dump_file"> Select File (QIF or QFX): </label></td>
<td><input type="file" name="filename"/></td>
<td><input type="submit" value="{{button_text}}"/></td>
</form>

{% if account.SupportsDownload(true) -%}
<form method="POST" action="/accounts/{{account.ID}}/imported">
<tr>
<td colspan=2>Download Transactions (OFX):</td>
<tr>
<td>Username:</td>
<td><input type="text" name="import.Username"/></td>
<td><input type="submit" value="Download"/></td>
<tr>
<td>Password:</td>
<td><input type="text" name="import.Password"/></td>
<td></td>
</form>
{% endif -%}
</table>

{% if (imports|length > 0) -%}
<h3>Recent Imports</h3>
<table class="ledger">

<th>Date</th>
<th># Transactions</th>
{% if account.IsInvestment() -%}
<th># Trades</th>
{% endif -%}
{% for i in imports -%}
<tr>
<td><a href=/imported/{{i.ID}}>{{ i.CreatedOn.Format("2006-01-02") }}</a></td>
<td>{{ i.CashFlowCount }}</td>
{% if account.IsInvestment() -%}
<td>{{ i.TradeCount }}</td>
{% endif -%}
</tr>
{% endfor -%}

</table>
{% endif -%}
</div>

<ul id="footmenu">
<li><a href=/accounts/{{account.ID}}>Back To Account</a></li>
</ul>

{% endblock -%}
