{% extends "base.html" %}

{% block content -%}

{% macro account_details(a) -%}
<tr>
<td><img width="18" src={{ a.AccountType.GetIconPath() }} alt={{ a.AccountType.GetAltText() }} /></td>
<td><a href=/accounts/{{a.ID}}>{{ a.Name }}</a></td>
<td align="right">{{ a.Currency(a.Balance) }}</td>
{% if debug_balance -%}
<td align="right">{{ a.Currency(a.CashBalance) }}</td>
{% endif -%}
</tr>
{% endmacro -%}

<div class="listing">
<h2>Account Listing</h2>

<table>
{% for a in accounts -%}
{{ account_details(a) }}
{% endfor -%}
</table>
</div>

<ul id="footmenu">
<li><a href=/accounts/new>New Account</a></li>
<li><a href=/payees>All Payees</a></li>
<li><a href=/years/{{date_helper.Year()}}/gains>Current Year Gains</a></li>
<li><a href=/years/{{date_helper.Year() - 1}}/gains>Last Year Gains</a></li>
<li><a href=/years/{{date_helper.Year()}}/taxes>Current Year Taxes</a></li>
<li><a href=/years/{{date_helper.Year() - 1}}/taxes>Last Year Taxes</a></li>
<li><a href=/charts?days=0>Year to Date Chart</a></li>
</ul>

{% endblock -%}
