<div class="dynamic">
<table class="ledger resizable editable">
<thead>
<tr>
<th id="date">Date</th>
<th id="transnum">#</th>
<th id="payee_name">Payee</th>
<th id="category_id">Category</th>
<th id="amount">Amount</th>
{% if !total_amount -%}
<th id="balance" class="noedit">Balance</th>
{% endif -%}
<th class="noedit"></th>
<th class="noedit"></th>
</tr>
</thead>
<tbody data-controller="cashflow">
{% for c in cash_flows -%}
{% if (forloop.Counter0 % 2) == 0 -%}
<tr id="{{ c.ID }}" data-cashflow-target="cashflowTableRow" data-cashflow-id="{{ c.ID }}">
{% else -%}
<tr id="{{ c.ID }}" class="even" data-cashflow-target="cashflowTableRow" data-cashflow-id="{{ c.ID }}">
{% endif -%}
<td>{{ c.Date.Format("2006-01-02") }}</td>
<td>{{ c.GetTransnum() }}</td>
{% if c.Transfer -%}
<td><a href=/accounts/{{ c.PayeeID }}>{{ c.PayeeName }}</a></td>
{% else -%}
<td>{{ c.PayeeName }}</td>
{% endif -%}
<td>{{ c.CategoryName }}</td>
<td class="currency">
<div data-cashflow-target="cashflowAmount" data-cashflow-id="{{ c.ID }}" data-action="click->cashflow#actionEditAmount">
{{ c.Currency(c.Amount) }}
</div>
<input hidden type="text" name="amount" value="{{c.Amount}}" data-cashflow-target="cashflowNewAmount" data-cashflow-id="{{ c.ID }}" data-action="keydown->cashflow#actionPutNewAmount"/>
</td>
{% if !total_amount -%}
<td class="currency">{{ c.Currency(c.Balance) }}</td>
{% endif -%}
<td><a href=/cash_flows/{{ c.ID }}/edit>Edit</a></td>
<td><a href=/cash_flows/{{ c.ID }} data-cashflow-id="{{ c.ID }}" data-action="cashflow#actionDelete">Delete</a></td>
</tr>
{% endfor -%}
</tbody>
</table>
</div>
