{% extends "base.html" %}
{% block content -%}

<div class="edit">
{% if cash_flow.IsScheduled() -%}
<h2>Edit Recurring Transaction</h2>
{% else -%}
<h2>Edit Transaction</h2>
{% endif -%}

<table>
<tr>
<td>Account Name:
<tr>
<td><strong>{{ cash_flow.Account.Name }}</strong>
</table>

<div id="cash_flows">
{% include "cash_flows/_list_cash_flows.html" -%}
</div>

<form method="POST" action="/cash_flows/{{cash_flow.ID}}">
<table>
<tr>
<td><br> {{ form_select_type(cash_flow_types, "cash_flow_type_id", cash_flow.CashFlowTypeID) }} </td>
{% if not cash_flow.Split -%}
<tr>
<td>Tax Year<br>
<input type="text" name="tax_year" value="{{cash_flow.TaxYear}}"/>
</td>
{% endif -%}
<tr>
<td><br> {{ form_date_select(date_helper) }} </td>
<td>Check/Number:<br>
<input type="text" name="transnum" value="{{cash_flow.Transnum}}"/>
</td>
<tr>
<td>Payee:<br>
<input type="text" name="payee_name" value="{{cash_flow.PayeeName}}"/>
</td>
<td>Amount:<br>
<input type="text" name="amount" value="{{cash_flow.Amount}}"/>
</td>
<tr>
<td>Category:<br> {{ form_select_type(categories, "category_id", cash_flow.CategoryID) }} </td>
<td>Memo:<br>
<input type="text" name="memo" value="{{cash_flow.Memo}}"/>
</td>
</table>
<p>
<input type="submit" value="Update"/>
</p>
</form>

{% if cash_flow.CanSplit() -%}
<form method="POST" action="/cash_flows/{{cash_flow.ID}}/split">
<table>
<tr>
<td><br> {{ form_select_type(cash_flow_types, "cash_flow_type_id") }} </td>
<tr>
<td>Payee:<br>
<input type="text" name="payee_name" value="{{cash_flow.PayeeName}}"/>
</td>
<td>Amount:<br> <input type="text" name="amount"/> </td>
<tr>
<td>Category:<br> {{ form_select_type(categories, "category_id") }} </td>
<td>Memo:<br> <input type="text" name="memo"/> </td>
</td>
</table>
<p>
<input type="submit" value="Add Split"/>
</p>
</form>
{% endif -%}

</div>

<ul id="footmenu">
<li><a href=/accounts/{{cash_flow.AccountID}}>Back To Account</a></li>
{% if not cash_flow.Transfer -%}
<li><a href=/payees/{{cash_flow.PayeeID}}>Back to Payee</a></li>
{% endif -%}
{% if cash_flow.ParentID > 0 -%}
<li><a href=/cash_flows/{{ cash_flow.ParentID }}/edit>Edit Parent CashFlow</a></li>
{% endif -%}
{% if cash_flow.RepeatParentID > 0 -%}
<li><a href=/cash_flows/{{ cash_flow.RepeatParentID }}/edit>Edit Scheduled CashFlow</a></li>
{% endif -%}
<li><a href=/cash_flows/{{ cash_flow.ID }} method="delete">Delete CashFlow</a></li>
</ul>

{% endblock -%}
