<div class="dynamic">
<table class="ledger resizable editable">
<thead>
<tr>
<th id="date">Date</th>
<th id="transnum">#</th>
{% if with_cashflow_account -%}
<th id="account_name">Account</th>
{% endif -%}
<th id="payee_name">Payee</th>
<th id="category_id">Category</th>
<th id="amount">Amount</th>
{% if !total_amount && !no_cashflow_balance -%}
<th id="balance" class="noedit">Balance</th>
{% endif -%}
<th class="noedit"></th>
{% if !disallow_cashflow_delete -%}
<th class="noedit"></th>
{% endif -%}
</tr>
</thead>
<tbody data-controller="cashflow">
{% for c in cash_flows -%}
{% if (forloop.Counter0 % 2) == 0 -%}
<tr id="{{ c.ID }}" data-cashflow-target="cashflowTableRow" data-cashflow-id="{{ c.ID }}" data-cashflow-date="{{ c.Date.Format("2006-01-02") }}">
{% else -%}
<tr id="{{ c.ID }}" class="even" data-cashflow-target="cashflowTableRow" data-cashflow-id="{{ c.ID }}" data-cashflow-date="{{ c.Date.Format("2006-01-02") }}">
{% endif -%}
<td>{{ c.Date.Format("2006-01-02") }}</td>
<td>{{ c.GetTransnum() }}</td>
{% if with_cashflow_account -%}
<td>{{ c.Account.Name }}</td>
{% endif -%}
{% if c.Transfer -%}
<td><a href=/accounts/{{ c.PayeeID }}>{{ c.PayeeName }}</a></td>
{% elif c.ShowTradeLinks() -%}
<td><a href=/accounts/{{c.AccountID}}/securities/{{c.PayeeID}}>{{ c.PayeeName }}</a></td>
{% else -%}
<td>{{ c.PayeeName }}</td>
{% endif -%}
{% if c.IsSellTrade() -%}
<td><a href=/gains/{{c.ImportID}}>{{ c.CategoryName }}</a></td>
{% else -%}
<td>{{ c.CategoryName }}</td>
{% endif -%}
<td class="currency">
<div data-cashflow-target="cashflowAmount" data-cashflow-id="{{ c.ID }}" data-action="click->cashflow#actionEditAmount">
{{ c.Currency(c.Amount) }}
</div>
<input hidden autofocus type="text" name="amount" value="{{c.Amount}}" data-cashflow-target="cashflowNewAmount" data-cashflow-id="{{ c.ID }}" data-action="keydown->cashflow#actionPutNewAmount"/>
</td>
{% if !total_amount && !no_cashflow_balance -%}
<td class="currency" data-cashflow-target="cashflowTableRowBalance" data-cashflow-id="{{ c.ID }}">{{ c.Currency(c.Balance) }}</td>
{% endif -%}
{% if c.ID > 0 -%}
<td><a href=/cash_flows/{{ c.ID }}/edit>Edit</a></td>
{% elif c.ShowTradeLinks() -%}
<td><a href=/trades/{{ c.ImportID }}/edit>Edit</a></td>
{% else -%}
<td></td>
{% endif -%}
{% if !disallow_cashflow_delete -%}
{% if c.ID > 0 -%}
<td><a href=/cash_flows/{{ c.ID }} data-cashflow-id="{{ c.ID }}" data-action="cashflow#actionDelete">Delete</a></td>
{% else -%}
<td></td>
{% endif -%}
{% endif -%}
</tr>
{% endfor -%}
{% if total_amount -%}
<td><b>Total:</b></td>
<td></td>
<td></td>
<td></td>
<td class="currency" data-cashflow-target="cashflowTableSingleBalance"> {{ total_amount }}</td>
<td></td>
<td></td>
{% endif -%}
</tbody>
</table>
</div>
